<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SNav"
        tools:targetApi="29">
        <activity
            android:name=".ThemePreviewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingSoundActivity"
            android:exported="false" />
        <activity
            android:name=".SettingNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".SettingThemeActivity"
            android:exported="false" />
        <activity
            android:name=".MainNavSearchActivity"
            android:exported="false" />
        <activity
            android:name=".RouteSearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".RouteSearchActivity"
            android:exported="false" />
        <activity
            android:name=".NavShortActivity"
            android:exported="false" />
        <activity
            android:name=".MainNavSurroundActivity"
            android:exported="false" />
        <activity
            android:name=".MainNavFavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".MainNavMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainNavActivity"
            android:exported="false" />
        <activity
            android:name=".NavDetailedActivity"
            android:exported="false" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SettingActivity" />
    </application>

</manifest>